---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% assign ccf_levels = "A,B,C" | split: "," %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    
    {% for level in ccf_levels %}
      {% for post in site.publications reversed %}
        {% if post.category != category[0] or post.ccf != level %}
          {% continue %}
        {% endif %}
        {% unless title_shown %}
          <h2 class="section-title">{{ category[1].title }}</h2>
          {% assign title_shown = true %}
        {% endunless %}
        {% include archive-single.html %}
      {% endfor %}
    {% endfor %}

    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% if ccf_levels contains post.ccf %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2 class="section-title">{{ category[1].title }}</h2>
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for level in ccf_levels %}
    {% for post in site.publications reversed %}
      {% if post.ccf == level %}
        {% include archive-single.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  
  {% for post in site.publications reversed %}
    {% unless ccf_levels contains post.ccf %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endif %}



